.grid-container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(6, 1fr); 
    grid-template-rows: auto;
    max-width: 100%;
    padding: 20px;
}

.item1 {
    grid-column: 1/ span 2;
    grid-row: 1/ span 2;
    background-color: #120f0f;
}

.item2 .item3 .item4 .item5 .item6 .item7 .item8 .item9 {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

 


.category_name{

    position:absolute;
    padding:5;
    top:0px; 
    
    left: 50%;
}
.category_name:hover {
    background-color: #407fac;
    
}




/* Media Query for Medium Screens (Tablets) */
@media (max-width: 1024px){
    .grid-container {
        
        grid-template-columns: repeat(3, 1fr); /* 3 columns on medium screens */
    }
    .item1 {
        grid-column: span 3; /* Make item1 span all columns */
    }
}

@media (max-width: 768px) {
    .grid-container 
        {
        grid-template-columns: repeat(2, 1fr); /* 2 columns on smaller screens */
    }
    .item1 {
        grid-column: span 2; /* Span both columns */
    }
}

@media (max-width: 480px) {
    .grid-container3 {
        grid-template-columns: 1fr; /* Single column on very small screens */
    }
    .item1 {
        grid-column: span 1;
    }
}

/* category 4 container starts here */

.category4-container {
    display: flex;
    /* Auto-fit columns that are at least 150px wide, adjusting as screen size changes */
   flex-direction: row;
   flex-wrap: wrap;
    gap: 10px;
    width: 100%; /* Full width of the container */
    height: auto; /* Let height adjust based on content */
   
    /* Center container if it's inside a limited-width parent */
    padding: 10px; /* Optional padding for inner spacing */
    box-sizing: border-box; /* Includes padding in the element's width */
    
}
.category_name{
    position: absolute;
    top:0px; /* Distance from the top of the card */
    /* Center horizontally */
    left: 50%;
    /* width: 100%; */
}
.category_card4 {
    
    height: 250px;
    /* Optional: add padding or margin if needed */
    
    box-sizing: border-box;
    position: relative;
}



/* category 4 container ends here */



/* category 5 container starts here */

.category5-container {

    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5px;
    max-width: 100%;
    max-height: 350px;
   
 


}
.category5-card {

   
    height: 350px;
    position: relative;
}

.category5_card .category_title {

    position:absolute;
}

/* category 6 start */

/* category 6 end */