  /* Basic Reset */
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Navbar Styling */
.header {
    background-color: #236a6b;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-family: Arial, sans-serif;
    width: 100%;
}

/* Logo */
.logo a {
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
}

/* Navigation Links */
.nav-links {
 
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 1em;
}

.nav-links a:hover {
    color: #ff6f61;
}


.dropdown {
    position: relative;
}

.dropdown-menu {
  visibility: hidden; 
  opacity: 0; 
  position: absolute;
  top: 170%;
  left: 0%;
  right: 600%;
  background-color: #236a6b;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 800px; 
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 10px;
  z-index: 10;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}


.dropdown:hover .dropdown-menu {
  visibility: visible; 
  opacity: 1; 
}

.dropdown-item {
    color: #fff;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Search Bar */
.search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
    max-width: 400px;
}

.search-bar input[type="text"] {
    padding: 8px 10px;
    border: none;
    border-radius: 20px;
    outline: none;
    width: 100%;
}

.search-bar button {
    padding: 8px 15px;
    border: none;
    background-color: #ff6f61;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #ff9f8b;
}

/* Cart Icon */
.cart {
    color: #fff;
    font-size: 1.5em;
    text-decoration: none;
    position: relative;
}

/* Cart Badge */
.cart-badge {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: #ff6f61;
    color: #fff;
    padding: 3px 6px;
    border-radius: 50%;
    font-size: 0.8em;
}



@media (max-width: 768px) {
    /* Adjust header layout for smaller screens */
    .header {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .nav-links {
        flex: 1;
        justify-content: center;
    }

     /* Hide the search bar on mobile */
     .search-bar {
        display: none;
    }

    .cart {
        order: 3;
    }

}

@media (max-width: 480px) {
    /* Increase padding for the header to improve touchability */
    .header {
        padding: 10px;
    }
    
    /* Adjust font size for dropdown items */
    .dropdown-item {
        font-size: 0.9em;
    }
}