
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  overflow-x: hidden;
}
  .mycontainer {

    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
  
    

  }
 
  .header {

    
grid-row: 1/2;
width: 100%;
    
  }
  .content{
   grid-row: 2/3;
   padding: 10px;
     width: 100%; 

     min-height: 100vh;
     

  }

  .footer {
     
    grid-auto-rows: 3/4;
     width: 100%; 
   }
 
  
  